* {
    box-sizing: border-box;
}

body{

}
nav {
    background-color: #c1c1c1;

    padding: 4px;
}

nav a{
    color: black;
    display: inline-block;
    padding:4px;
}

a:hover{
    color: blue;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo{
    margin:0 auto;
    text-decoration: none;
    padding: .2em;
    font-size: 3em;
}